h1 {
    color:blue;
}
/* define font-face */
@font-face {
    font-family: myFirstFont;
    src: url('https://cdn.jsdelivr.net/gh/soumya85/mycdn/fonts/MonaSans-Black.woff2') format('woff'),
		url('https://cdn.jsdelivr.net/gh/soumya85/mycdn/fonts/MonaSans-Black.ttf') format('truetype'),
		url('https://cdn.jsdelivr.net/gh/soumya85/mycdn/fonts/MonaSans-Black.otf') format('opentype');

 src: url('https://cdn.jsdelivr.net/gh/soumya85/mycdn/fonts/MonaSans-Light.woff2') format('woff'),
		url('https://cdn.jsdelivr.net/gh/soumya85/mycdn/fonts/MonaSans-Light.ttf') format('truetype'),
		url('https://cdn.jsdelivr.net/gh/soumya85/mycdn/fonts/MonaSans-Light.otf') format('opentype');



	 src: url('https://cdn.jsdelivr.net/gh/soumya85/mycdn/fonts/MonaSans-Medium.woff2') format('woff'),
		url('https://cdn.jsdelivr.net/gh/soumya85/mycdn/fonts/MonaSans-Medium.ttf') format('truetype'),
		url('https://cdn.jsdelivr.net/gh/soumya85/mycdn/fonts/MonaSans-Medium.otf') format('opentype');
	
    font-weight: normal;
    font-style: normal;
}
